In [ ]:
import pandas as pd

In [ ]:
allfiles = pd.read_csv("data/allfiles_for_predicting.csv")

allfiles.head

<bound method NDFrame.head of                                                      file
0       /mnt/d/Sound_files/Marojejy/AGN_A/AGN_A-AGN08/...
1       /mnt/d/Sound_files/Marojejy/AGN_A/AGN_A-AGN08/...
2       /mnt/d/Sound_files/Marojejy/AGN_A/AGN_A-AGN08/...
3       /mnt/d/Sound_files/Marojejy/AGN_A/AGN_A-AGN08/...
4       /mnt/d/Sound_files/Marojejy/AGN_A/AGN_A-AGN08/...
...                                                   ...
421027  /mnt/d/Sound_files/Ranomafana/VOL_B/VOL_B-VOL0...
421028  /mnt/d/Sound_files/Ranomafana/VOL_B/VOL_B-VOL0...
421029  /mnt/d/Sound_files/Ranomafana/VOL_B/VOL_B-VOL0...
421030  /mnt/d/Sound_files/Ranomafana/VOL_B/VOL_B-VOL0...
421031  /mnt/d/Sound_files/Ranomafana/VOL_B/VOL_B-VOL0...

[421032 rows x 1 columns]>

In [ ]:
cliptimes_5s = pd.read_csv("data/cliptimes_5s.csv")
cliptimes_5s.head()

,start_time,end_time,Hypsipetes_madagascariensis,Copsychus_albospecularis,Coracopsis_nigra,Dicrurus_forficatus,Coua_caerulea,Zosterops_maderaspatanus,Eurystomus_glaucurus,Agapornis_canus,...,Cyanolanius_madagascarinus,Leptopterus_chabert,Nesoenas_picturatus,Coua_reynaudii,Ceblepyris_cinereus,Neodrepanis_coruscans,Philepitta_castanea,Eulemur_sp,Coua_cristata,Treron_australis
0,0,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,15,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
allfiles_5s = pd.merge(
    allfiles.assign(key=1),
    cliptimes_5s.assign(key=1),
    on='key'
).drop('key',axis=1)

In [ ]:
allfiles_5s.head(15)

,file,start_time,end_time,Hypsipetes_madagascariensis,Copsychus_albospecularis,Coracopsis_nigra,Dicrurus_forficatus,Coua_caerulea,Zosterops_maderaspatanus,Eurystomus_glaucurus,...,Cyanolanius_madagascarinus,Leptopterus_chabert,Nesoenas_picturatus,Coua_reynaudii,Ceblepyris_cinereus,Neodrepanis_coruscans,Philepitta_castanea,Eulemur_sp,Coua_cristata,Treron_australis
0,/mnt/d/Sound_files/Marojejy/AGN_A/AGN_A-AGN08/...,0,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,/mnt/d/Sound_files/Marojejy/AGN_A/AGN_A-AGN08/...,5,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,/mnt/d/Sound_files/Marojejy/AGN_A/AGN_A-AGN08/...,10,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,/mnt/d/Sound_files/Marojejy/AGN_A/AGN_A-AGN08/...,15,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,/mnt/d/Sound_files/Marojejy/AGN_A/AGN_A-AGN08/...,20,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,/mnt/d/Sound_files/Marojejy/AGN_A/AGN_A-AGN08/...,25,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,/mnt/d/Sound_files/Marojejy/AGN_A/AGN_A-AGN08/...,30,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,/mnt/d/Sound_files/Marojejy/AGN_A/AGN_A-AGN08/...,35,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,/mnt/d/Sound_files/Marojejy/AGN_A/AGN_A-AGN08/...,40,45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,/mnt/d/Sound_files/Marojejy/AGN_A/AGN_A-AGN08/...,45,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,/mnt/d/Sound_files/Marojejy/AGN_A/AGN_A-AGN08/...,50,55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,/mnt/d/Sound_files/Marojejy/AGN_A/AGN_A-AGN08/...,55,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,/mnt/d/Sound_files/Marojejy/AGN_A/AGN_A-AGN08/...,0,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,/mnt/d/Sound_files/Marojejy/AGN_A/AGN_A-AGN08/...,5,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,/mnt/d/Sound_files/Marojejy/AGN_A/AGN_A-AGN08/...,10,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
allfiles_5s.to_csv('data/allfiles_5s.csv',index=False)

In [ ]:
allfiles_5s = pd.read_csv('data/allfiles_5s.csv')

In [ ]:
allfiles_5s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5052384 entries, 0 to 5052383
Data columns (total 22 columns):
 #   Column                       Dtype
---  ------                       -----
 0   file                         object
 1   start_time                   int64
 2   end_time                     int64
 3   Hypsipetes_madagascariensis  float64
 4   Copsychus_albospecularis     float64
 5   Coracopsis_nigra             float64
 6   Dicrurus_forficatus          float64
 7   Coua_caerulea                float64
 8   Zosterops_maderaspatanus     float64
 9   Eurystomus_glaucurus         float64
 10  Agapornis_canus              float64
 11  Saxicola_torquatus           float64
 12  Cyanolanius_madagascarinus   float64
 13  Leptopterus_chabert          float64
 14  Nesoenas_picturatus          float64
 15  Coua_reynaudii               float64
 16  Ceblepyris_cinereus          float64
 17  Neodrepanis_coruscans        float64
 18  Philepitta_castanea          float64
 19  Eulemur_sp                   float64
 20  Coua_cristata                float64
 21  Treron_australis             float64
dtypes: float64(19), int64(2), object(1)
memory usage: 848.0+ MB

In [ ]:
ankafobe_5s = allfiles_5s[allfiles_5s['file'].str.contains("Ankafobe")].reset_index(drop=True)
ankafobe_5s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1154820 entries, 0 to 1154819
Data columns (total 22 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   file                         1154820 non-null  object
 1   start_time                   1154820 non-null  int64
 2   end_time                     1154820 non-null  int64
 3   Hypsipetes_madagascariensis  0 non-null        float64
 4   Copsychus_albospecularis     0 non-null        float64
 5   Coracopsis_nigra             0 non-null        float64
 6   Dicrurus_forficatus          0 non-null        float64
 7   Coua_caerulea                0 non-null        float64
 8   Zosterops_maderaspatanus     0 non-null        float64
 9   Eurystomus_glaucurus         0 non-null        float64
 10  Agapornis_canus              0 non-null        float64
 11  Saxicola_torquatus           0 non-null        float64
 12  Cyanolanius_madagascarinus   0 non-null        float64
 13  Leptopterus_chabert          0 non-null        float64
 14  Nesoenas_picturatus          0 non-null        float64
 15  Coua_reynaudii               0 non-null        float64
 16  Ceblepyris_cinereus          0 non-null        float64
 17  Neodrepanis_coruscans        0 non-null        float64
 18  Philepitta_castanea          0 non-null        float64
 19  Eulemur_sp                   0 non-null        float64
 20  Coua_cristata                0 non-null        float64
 21  Treron_australis             0 non-null        float64
dtypes: float64(19), int64(2), object(1)
memory usage: 193.8+ MB

In [ ]:
ankafobe_5s.head()

,file,start_time,end_time,Hypsipetes_madagascariensis,Copsychus_albospecularis,Coracopsis_nigra,Dicrurus_forficatus,Coua_caerulea,Zosterops_maderaspatanus,Eurystomus_glaucurus,...,Cyanolanius_madagascarinus,Leptopterus_chabert,Nesoenas_picturatus,Coua_reynaudii,Ceblepyris_cinereus,Neodrepanis_coruscans,Philepitta_castanea,Eulemur_sp,Coua_cristata,Treron_australis
0,/mnt/d/Sound_files/Ankafobe/KBB_A/KBB_A_D1-KBB...,0,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,/mnt/d/Sound_files/Ankafobe/KBB_A/KBB_A_D1-KBB...,5,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,/mnt/d/Sound_files/Ankafobe/KBB_A/KBB_A_D1-KBB...,10,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,/mnt/d/Sound_files/Ankafobe/KBB_A/KBB_A_D1-KBB...,15,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,/mnt/d/Sound_files/Ankafobe/KBB_A/KBB_A_D1-KBB...,20,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
ankarabolava_5s = allfiles_5s[allfiles_5s['file'].str.contains("Ankarabolava")].reset_index(drop=True)
ankarabolava_5s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 983460 entries, 0 to 983459
Data columns (total 22 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   file                         983460 non-null  object
 1   start_time                   983460 non-null  int64
 2   end_time                     983460 non-null  int64
 3   Hypsipetes_madagascariensis  0 non-null       float64
 4   Copsychus_albospecularis     0 non-null       float64
 5   Coracopsis_nigra             0 non-null       float64
 6   Dicrurus_forficatus          0 non-null       float64
 7   Coua_caerulea                0 non-null       float64
 8   Zosterops_maderaspatanus     0 non-null       float64
 9   Eurystomus_glaucurus         0 non-null       float64
 10  Agapornis_canus              0 non-null       float64
 11  Saxicola_torquatus           0 non-null       float64
 12  Cyanolanius_madagascarinus   0 non-null       float64
 13  Leptopterus_chabert          0 non-null       float64
 14  Nesoenas_picturatus          0 non-null       float64
 15  Coua_reynaudii               0 non-null       float64
 16  Ceblepyris_cinereus          0 non-null       float64
 17  Neodrepanis_coruscans        0 non-null       float64
 18  Philepitta_castanea          0 non-null       float64
 19  Eulemur_sp                   0 non-null       float64
 20  Coua_cristata                0 non-null       float64
 21  Treron_australis             0 non-null       float64
dtypes: float64(19), int64(2), object(1)
memory usage: 165.1+ MB

In [ ]:
analalava_5s = allfiles_5s[allfiles_5s['file'].str.contains("Analalava")].reset_index(drop=True)
analalava_5s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1012668 entries, 0 to 1012667
Data columns (total 22 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   file                         1012668 non-null  object
 1   start_time                   1012668 non-null  int64
 2   end_time                     1012668 non-null  int64
 3   Hypsipetes_madagascariensis  0 non-null        float64
 4   Copsychus_albospecularis     0 non-null        float64
 5   Coracopsis_nigra             0 non-null        float64
 6   Dicrurus_forficatus          0 non-null        float64
 7   Coua_caerulea                0 non-null        float64
 8   Zosterops_maderaspatanus     0 non-null        float64
 9   Eurystomus_glaucurus         0 non-null        float64
 10  Agapornis_canus              0 non-null        float64
 11  Saxicola_torquatus           0 non-null        float64
 12  Cyanolanius_madagascarinus   0 non-null        float64
 13  Leptopterus_chabert          0 non-null        float64
 14  Nesoenas_picturatus          0 non-null        float64
 15  Coua_reynaudii               0 non-null        float64
 16  Ceblepyris_cinereus          0 non-null        float64
 17  Neodrepanis_coruscans        0 non-null        float64
 18  Philepitta_castanea          0 non-null        float64
 19  Eulemur_sp                   0 non-null        float64
 20  Coua_cristata                0 non-null        float64
 21  Treron_australis             0 non-null        float64
dtypes: float64(19), int64(2), object(1)
memory usage: 170.0+ MB

In [ ]:
marojejy_5s = allfiles_5s[allfiles_5s['file'].str.contains("Marojejy")].reset_index(drop=True)
marojejy_5s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 815520 entries, 0 to 815519
Data columns (total 22 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   file                         815520 non-null  object
 1   start_time                   815520 non-null  int64
 2   end_time                     815520 non-null  int64
 3   Hypsipetes_madagascariensis  0 non-null       float64
 4   Copsychus_albospecularis     0 non-null       float64
 5   Coracopsis_nigra             0 non-null       float64
 6   Dicrurus_forficatus          0 non-null       float64
 7   Coua_caerulea                0 non-null       float64
 8   Zosterops_maderaspatanus     0 non-null       float64
 9   Eurystomus_glaucurus         0 non-null       float64
 10  Agapornis_canus              0 non-null       float64
 11  Saxicola_torquatus           0 non-null       float64
 12  Cyanolanius_madagascarinus   0 non-null       float64
 13  Leptopterus_chabert          0 non-null       float64
 14  Nesoenas_picturatus          0 non-null       float64
 15  Coua_reynaudii               0 non-null       float64
 16  Ceblepyris_cinereus          0 non-null       float64
 17  Neodrepanis_coruscans        0 non-null       float64
 18  Philepitta_castanea          0 non-null       float64
 19  Eulemur_sp                   0 non-null       float64
 20  Coua_cristata                0 non-null       float64
 21  Treron_australis             0 non-null       float64
dtypes: float64(19), int64(2), object(1)
memory usage: 136.9+ MB

In [ ]:
ranomafana_5s = allfiles_5s[allfiles_5s['file'].str.contains("Ranomafana")].reset_index(drop=True)
ranomafana_5s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1085916 entries, 0 to 1085915
Data columns (total 22 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   file                         1085916 non-null  object
 1   start_time                   1085916 non-null  int64
 2   end_time                     1085916 non-null  int64
 3   Hypsipetes_madagascariensis  0 non-null        float64
 4   Copsychus_albospecularis     0 non-null        float64
 5   Coracopsis_nigra             0 non-null        float64
 6   Dicrurus_forficatus          0 non-null        float64
 7   Coua_caerulea                0 non-null        float64
 8   Zosterops_maderaspatanus     0 non-null        float64
 9   Eurystomus_glaucurus         0 non-null        float64
 10  Agapornis_canus              0 non-null        float64
 11  Saxicola_torquatus           0 non-null        float64
 12  Cyanolanius_madagascarinus   0 non-null        float64
 13  Leptopterus_chabert          0 non-null        float64
 14  Nesoenas_picturatus          0 non-null        float64
 15  Coua_reynaudii               0 non-null        float64
 16  Ceblepyris_cinereus          0 non-null        float64
 17  Neodrepanis_coruscans        0 non-null        float64
 18  Philepitta_castanea          0 non-null        float64
 19  Eulemur_sp                   0 non-null        float64
 20  Coua_cristata                0 non-null        float64
 21  Treron_australis             0 non-null        float64
dtypes: float64(19), int64(2), object(1)
memory usage: 182.3+ MB

In [ ]:
ankafobe_5s.to_csv('data/ankafobe_5s.csv',index=False)

In [ ]:
ankarabolava_5s.to_csv('data/ankarabolava_5s.csv',index=False)

In [ ]:
marojejy_5s.to_csv('data/marojejy_5s.csv',index=False)

In [ ]:
analalava_5s.to_csv('data/analalava_5s.csv',index=False)

In [ ]:
ranomafana_5s.to_csv('data/ranomafana_5s.csv',index=False)

In [ ]:
ankafobe_forest_5s = ankafobe_5s[ankafobe_5s['file'].str.contains("KBF")].reset_index(drop=True)
ankafobe_burn_5s = ankafobe_5s[ankafobe_5s['file'].str.contains("KBB")].reset_index(drop=True)
ankafobe_reforest_5s = ankafobe_5s[ankafobe_5s['file'].str.contains("KBR")].reset_index(drop=True)
ankafobe_burn_5s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 328932 entries, 0 to 328931
Data columns (total 22 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   file                         328932 non-null  object
 1   start_time                   328932 non-null  int64
 2   end_time                     328932 non-null  int64
 3   Hypsipetes_madagascariensis  0 non-null       float64
 4   Copsychus_albospecularis     0 non-null       float64
 5   Coracopsis_nigra             0 non-null       float64
 6   Dicrurus_forficatus          0 non-null       float64
 7   Coua_caerulea                0 non-null       float64
 8   Zosterops_maderaspatanus     0 non-null       float64
 9   Eurystomus_glaucurus         0 non-null       float64
 10  Agapornis_canus              0 non-null       float64
 11  Saxicola_torquatus           0 non-null       float64
 12  Cyanolanius_madagascarinus   0 non-null       float64
 13  Leptopterus_chabert          0 non-null       float64
 14  Nesoenas_picturatus          0 non-null       float64
 15  Coua_reynaudii               0 non-null       float64
 16  Ceblepyris_cinereus          0 non-null       float64
 17  Neodrepanis_coruscans        0 non-null       float64
 18  Philepitta_castanea          0 non-null       float64
 19  Eulemur_sp                   0 non-null       float64
 20  Coua_cristata                0 non-null       float64
 21  Treron_australis             0 non-null       float64
dtypes: float64(19), int64(2), object(1)
memory usage: 55.2+ MB

In [ ]:
ankafobe_forest_5s.to_csv('data/ankafobe_forest_5s.csv',index=False)
ankafobe_burn_5s.to_csv('data/ankafobe_burn_5s.csv',index=False)
ankafobe_reforest_5s.to_csv('data/ankafobe_reforest_5s.csv',index=False)

In [ ]:
ankafobe_burn_5s = pd.read_csv('data/ankafobe_burn_5s.csv')

In [ ]:
ankafobe_burn_A_5s = ankafobe_burn_5s[ankafobe_burn_5s['file'].str.contains("KBB_A")].reset_index(drop=True)
ankafobe_burn_A_5s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95820 entries, 0 to 95819
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   file                         95820 non-null  object
 1   start_time                   95820 non-null  int64
 2   end_time                     95820 non-null  int64
 3   Hypsipetes_madagascariensis  0 non-null      float64
 4   Copsychus_albospecularis     0 non-null      float64
 5   Coracopsis_nigra             0 non-null      float64
 6   Dicrurus_forficatus          0 non-null      float64
 7   Coua_caerulea                0 non-null      float64
 8   Zosterops_maderaspatanus     0 non-null      float64
 9   Eurystomus_glaucurus         0 non-null      float64
 10  Agapornis_canus              0 non-null      float64
 11  Saxicola_torquatus           0 non-null      float64
 12  Cyanolanius_madagascarinus   0 non-null      float64
 13  Leptopterus_chabert          0 non-null      float64
 14  Nesoenas_picturatus          0 non-null      float64
 15  Coua_reynaudii               0 non-null      float64
 16  Ceblepyris_cinereus          0 non-null      float64
 17  Neodrepanis_coruscans        0 non-null      float64
 18  Philepitta_castanea          0 non-null      float64
 19  Eulemur_sp                   0 non-null      float64
 20  Coua_cristata                0 non-null      float64
 21  Treron_australis             0 non-null      float64
dtypes: float64(19), int64(2), object(1)
memory usage: 16.1+ MB

In [ ]:
ankafobe_burn_A_5s.to_csv('data/ankafobe_burn_A_5s.csv',index=False)

In [ ]:
ankafobe_burn_A_5s = pd.read_csv('data/ankafobe_burn_A_5s.csv')

In [ ]:
ankafobe_burn_A_KBB07_5s = ankafobe_burn_A_5s[ankafobe_burn_A_5s['file'].str.contains("KBB_A-KBB07")].reset_index(drop=True)
ankafobe_burn_A_KBB07_5s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12936 entries, 0 to 12935
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   file                         12936 non-null  object
 1   start_time                   12936 non-null  int64
 2   end_time                     12936 non-null  int64
 3   Hypsipetes_madagascariensis  0 non-null      float64
 4   Copsychus_albospecularis     0 non-null      float64
 5   Coracopsis_nigra             0 non-null      float64
 6   Dicrurus_forficatus          0 non-null      float64
 7   Coua_caerulea                0 non-null      float64
 8   Zosterops_maderaspatanus     0 non-null      float64
 9   Eurystomus_glaucurus         0 non-null      float64
 10  Agapornis_canus              0 non-null      float64
 11  Saxicola_torquatus           0 non-null      float64
 12  Cyanolanius_madagascarinus   0 non-null      float64
 13  Leptopterus_chabert          0 non-null      float64
 14  Nesoenas_picturatus          0 non-null      float64
 15  Coua_reynaudii               0 non-null      float64
 16  Ceblepyris_cinereus          0 non-null      float64
 17  Neodrepanis_coruscans        0 non-null      float64
 18  Philepitta_castanea          0 non-null      float64
 19  Eulemur_sp                   0 non-null      float64
 20  Coua_cristata                0 non-null      float64
 21  Treron_australis             0 non-null      float64
dtypes: float64(19), int64(2), object(1)
memory usage: 2.2+ MB

In [ ]:
ankafobe_burn_A_KBB07_5s.to_csv('data/ankafobe_burn_A_KBB07_5s.csv',index=False)

In [ ]:
ankafobe_burn_A_KBB02_5s = ankafobe_burn_A_5s[ankafobe_burn_A_5s['file'].str.contains("KBB_A-KBB02")].reset_index(drop=True)
ankafobe_burn_A_KBB02_5s.info()
ankafobe_burn_A_KBB02_5s.to_csv('data/ankafobe_burn_A_KBB02_5s.csv',index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17328 entries, 0 to 17327
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   file                         17328 non-null  object
 1   start_time                   17328 non-null  int64
 2   end_time                     17328 non-null  int64
 3   Hypsipetes_madagascariensis  0 non-null      float64
 4   Copsychus_albospecularis     0 non-null      float64
 5   Coracopsis_nigra             0 non-null      float64
 6   Dicrurus_forficatus          0 non-null      float64
 7   Coua_caerulea                0 non-null      float64
 8   Zosterops_maderaspatanus     0 non-null      float64
 9   Eurystomus_glaucurus         0 non-null      float64
 10  Agapornis_canus              0 non-null      float64
 11  Saxicola_torquatus           0 non-null      float64
 12  Cyanolanius_madagascarinus   0 non-null      float64
 13  Leptopterus_chabert          0 non-null      float64
 14  Nesoenas_picturatus          0 non-null      float64
 15  Coua_reynaudii               0 non-null      float64
 16  Ceblepyris_cinereus          0 non-null      float64
 17  Neodrepanis_coruscans        0 non-null      float64
 18  Philepitta_castanea          0 non-null      float64
 19  Eulemur_sp                   0 non-null      float64
 20  Coua_cristata                0 non-null      float64
 21  Treron_australis             0 non-null      float64
dtypes: float64(19), int64(2), object(1)
memory usage: 2.9+ MB

In [ ]:
ankafobe_burn_A_KBB01_5s = ankafobe_burn_A_5s[ankafobe_burn_A_5s['file'].str.contains("KBB01")].reset_index(drop=True)
ankafobe_burn_A_KBB01_5s.info()
ankafobe_burn_A_KBB01_5s.to_csv('data/ankafobe_burn_A_KBB01_5s.csv',index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33672 entries, 0 to 33671
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   file                         33672 non-null  object
 1   start_time                   33672 non-null  int64
 2   end_time                     33672 non-null  int64
 3   Hypsipetes_madagascariensis  0 non-null      float64
 4   Copsychus_albospecularis     0 non-null      float64
 5   Coracopsis_nigra             0 non-null      float64
 6   Dicrurus_forficatus          0 non-null      float64
 7   Coua_caerulea                0 non-null      float64
 8   Zosterops_maderaspatanus     0 non-null      float64
 9   Eurystomus_glaucurus         0 non-null      float64
 10  Agapornis_canus              0 non-null      float64
 11  Saxicola_torquatus           0 non-null      float64
 12  Cyanolanius_madagascarinus   0 non-null      float64
 13  Leptopterus_chabert          0 non-null      float64
 14  Nesoenas_picturatus          0 non-null      float64
 15  Coua_reynaudii               0 non-null      float64
 16  Ceblepyris_cinereus          0 non-null      float64
 17  Neodrepanis_coruscans        0 non-null      float64
 18  Philepitta_castanea          0 non-null      float64
 19  Eulemur_sp                   0 non-null      float64
 20  Coua_cristata                0 non-null      float64
 21  Treron_australis             0 non-null      float64
dtypes: float64(19), int64(2), object(1)
memory usage: 5.7+ MB

In [ ]:
ankafobe_burn_A_KBB01_5s = pd.read_csv('data/ankafobe_burn_A_KBB01_5s.csv')

In [ ]:
ankafobe_burn_A_KBB01_D1_5s = ankafobe_burn_A_KBB01_5s[ankafobe_burn_A_KBB01_5s['file'].str.contains("D1")].reset_index(drop=True)
ankafobe_burn_A_KBB01_D1_5s.info()
ankafobe_burn_A_KBB01_D1_5s.to_csv('data/ankafobe_burn_A_KBB01_D1_5s.csv',index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15492 entries, 0 to 15491
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   file                         15492 non-null  object
 1   start_time                   15492 non-null  int64
 2   end_time                     15492 non-null  int64
 3   Hypsipetes_madagascariensis  0 non-null      float64
 4   Copsychus_albospecularis     0 non-null      float64
 5   Coracopsis_nigra             0 non-null      float64
 6   Dicrurus_forficatus          0 non-null      float64
 7   Coua_caerulea                0 non-null      float64
 8   Zosterops_maderaspatanus     0 non-null      float64
 9   Eurystomus_glaucurus         0 non-null      float64
 10  Agapornis_canus              0 non-null      float64
 11  Saxicola_torquatus           0 non-null      float64
 12  Cyanolanius_madagascarinus   0 non-null      float64
 13  Leptopterus_chabert          0 non-null      float64
 14  Nesoenas_picturatus          0 non-null      float64
 15  Coua_reynaudii               0 non-null      float64
 16  Ceblepyris_cinereus          0 non-null      float64
 17  Neodrepanis_coruscans        0 non-null      float64
 18  Philepitta_castanea          0 non-null      float64
 19  Eulemur_sp                   0 non-null      float64
 20  Coua_cristata                0 non-null      float64
 21  Treron_australis             0 non-null      float64
dtypes: float64(19), int64(2), object(1)
memory usage: 2.6+ MB

In [ ]:
ankafobe_burn_A_KBB01_D2_5s = ankafobe_burn_A_KBB01_5s[ankafobe_burn_A_KBB01_5s['file'].str.contains("D1")].reset_index(drop=True)
ankafobe_burn_A_KBB01_D2_5s.info()
ankafobe_burn_A_KBB01_D2_5s.to_csv('data/ankafobe_burn_A_KBB01_D2_5s.csv',index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15492 entries, 0 to 15491
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   file                         15492 non-null  object
 1   start_time                   15492 non-null  int64
 2   end_time                     15492 non-null  int64
 3   Hypsipetes_madagascariensis  0 non-null      float64
 4   Copsychus_albospecularis     0 non-null      float64
 5   Coracopsis_nigra             0 non-null      float64
 6   Dicrurus_forficatus          0 non-null      float64
 7   Coua_caerulea                0 non-null      float64
 8   Zosterops_maderaspatanus     0 non-null      float64
 9   Eurystomus_glaucurus         0 non-null      float64
 10  Agapornis_canus              0 non-null      float64
 11  Saxicola_torquatus           0 non-null      float64
 12  Cyanolanius_madagascarinus   0 non-null      float64
 13  Leptopterus_chabert          0 non-null      float64
 14  Nesoenas_picturatus          0 non-null      float64
 15  Coua_reynaudii               0 non-null      float64
 16  Ceblepyris_cinereus          0 non-null      float64
 17  Neodrepanis_coruscans        0 non-null      float64
 18  Philepitta_castanea          0 non-null      float64
 19  Eulemur_sp                   0 non-null      float64
 20  Coua_cristata                0 non-null      float64
 21  Treron_australis             0 non-null      float64
dtypes: float64(19), int64(2), object(1)
memory usage: 2.6+ MB

In [ ]:
ankafobe_burn_A_KBB06_5s = ankafobe_burn_A_5s[ankafobe_burn_A_5s['file'].str.contains("KBB06")].reset_index(drop=True)
ankafobe_burn_A_KBB06_5s.info()
ankafobe_burn_A_KBB06_5s.to_csv('data/ankafobe_burn_A_KBB06_5s.csv',index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31884 entries, 0 to 31883
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   file                         31884 non-null  object
 1   start_time                   31884 non-null  int64
 2   end_time                     31884 non-null  int64
 3   Hypsipetes_madagascariensis  0 non-null      float64
 4   Copsychus_albospecularis     0 non-null      float64
 5   Coracopsis_nigra             0 non-null      float64
 6   Dicrurus_forficatus          0 non-null      float64
 7   Coua_caerulea                0 non-null      float64
 8   Zosterops_maderaspatanus     0 non-null      float64
 9   Eurystomus_glaucurus         0 non-null      float64
 10  Agapornis_canus              0 non-null      float64
 11  Saxicola_torquatus           0 non-null      float64
 12  Cyanolanius_madagascarinus   0 non-null      float64
 13  Leptopterus_chabert          0 non-null      float64
 14  Nesoenas_picturatus          0 non-null      float64
 15  Coua_reynaudii               0 non-null      float64
 16  Ceblepyris_cinereus          0 non-null      float64
 17  Neodrepanis_coruscans        0 non-null      float64
 18  Philepitta_castanea          0 non-null      float64
 19  Eulemur_sp                   0 non-null      float64
 20  Coua_cristata                0 non-null      float64
 21  Treron_australis             0 non-null      float64
dtypes: float64(19), int64(2), object(1)
memory usage: 5.4+ MB

In [ ]:
ankafobe_reforest_5s = pd.read_csv('data/ankafobe_reforest_5s.csv')

In [ ]:
ankafobe_reforest_A_5s = ankafobe_reforest_5s[ankafobe_reforest_5s['file'].str.contains("KBR_A")].reset_index(drop=True)
ankafobe_reforest_A_5s.info()
ankafobe_reforest_A_5s.to_csv('data/ankafobe_reforest_A_5s.csv',index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99408 entries, 0 to 99407
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   file                         99408 non-null  object
 1   start_time                   99408 non-null  int64
 2   end_time                     99408 non-null  int64
 3   Hypsipetes_madagascariensis  0 non-null      float64
 4   Copsychus_albospecularis     0 non-null      float64
 5   Coracopsis_nigra             0 non-null      float64
 6   Dicrurus_forficatus          0 non-null      float64
 7   Coua_caerulea                0 non-null      float64
 8   Zosterops_maderaspatanus     0 non-null      float64
 9   Eurystomus_glaucurus         0 non-null      float64
 10  Agapornis_canus              0 non-null      float64
 11  Saxicola_torquatus           0 non-null      float64
 12  Cyanolanius_madagascarinus   0 non-null      float64
 13  Leptopterus_chabert          0 non-null      float64
 14  Nesoenas_picturatus          0 non-null      float64
 15  Coua_reynaudii               0 non-null      float64
 16  Ceblepyris_cinereus          0 non-null      float64
 17  Neodrepanis_coruscans        0 non-null      float64
 18  Philepitta_castanea          0 non-null      float64
 19  Eulemur_sp                   0 non-null      float64
 20  Coua_cristata                0 non-null      float64
 21  Treron_australis             0 non-null      float64
dtypes: float64(19), int64(2), object(1)
memory usage: 16.7+ MB

In [ ]:
ankafobe_reforest_A_KBR02_5s = ankafobe_reforest_A_5s[ankafobe_reforest_A_5s['file'].str.contains("KBR02")].reset_index(drop=True)
ankafobe_reforest_A_KBR02_5s.info()
ankafobe_reforest_A_KBR02_5s.to_csv('data/ankafobe_reforest_A_KBR02_5s.csv',index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33768 entries, 0 to 33767
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   file                         33768 non-null  object
 1   start_time                   33768 non-null  int64
 2   end_time                     33768 non-null  int64
 3   Hypsipetes_madagascariensis  0 non-null      float64
 4   Copsychus_albospecularis     0 non-null      float64
 5   Coracopsis_nigra             0 non-null      float64
 6   Dicrurus_forficatus          0 non-null      float64
 7   Coua_caerulea                0 non-null      float64
 8   Zosterops_maderaspatanus     0 non-null      float64
 9   Eurystomus_glaucurus         0 non-null      float64
 10  Agapornis_canus              0 non-null      float64
 11  Saxicola_torquatus           0 non-null      float64
 12  Cyanolanius_madagascarinus   0 non-null      float64
 13  Leptopterus_chabert          0 non-null      float64
 14  Nesoenas_picturatus          0 non-null      float64
 15  Coua_reynaudii               0 non-null      float64
 16  Ceblepyris_cinereus          0 non-null      float64
 17  Neodrepanis_coruscans        0 non-null      float64
 18  Philepitta_castanea          0 non-null      float64
 19  Eulemur_sp                   0 non-null      float64
 20  Coua_cristata                0 non-null      float64
 21  Treron_australis             0 non-null      float64
dtypes: float64(19), int64(2), object(1)
memory usage: 5.7+ MB

In [ ]:
ankafobe_reforest_A_KBR06_5s = ankafobe_reforest_A_5s[ankafobe_reforest_A_5s['file'].str.contains("KBR06")].reset_index(drop=True)
ankafobe_reforest_A_KBR06_5s.info()
ankafobe_reforest_A_KBR06_5s.to_csv('data/ankafobe_reforest_A_KBR06_5s.csv',index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32856 entries, 0 to 32855
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   file                         32856 non-null  object
 1   start_time                   32856 non-null  int64
 2   end_time                     32856 non-null  int64
 3   Hypsipetes_madagascariensis  0 non-null      float64
 4   Copsychus_albospecularis     0 non-null      float64
 5   Coracopsis_nigra             0 non-null      float64
 6   Dicrurus_forficatus          0 non-null      float64
 7   Coua_caerulea                0 non-null      float64
 8   Zosterops_maderaspatanus     0 non-null      float64
 9   Eurystomus_glaucurus         0 non-null      float64
 10  Agapornis_canus              0 non-null      float64
 11  Saxicola_torquatus           0 non-null      float64
 12  Cyanolanius_madagascarinus   0 non-null      float64
 13  Leptopterus_chabert          0 non-null      float64
 14  Nesoenas_picturatus          0 non-null      float64
 15  Coua_reynaudii               0 non-null      float64
 16  Ceblepyris_cinereus          0 non-null      float64
 17  Neodrepanis_coruscans        0 non-null      float64
 18  Philepitta_castanea          0 non-null      float64
 19  Eulemur_sp                   0 non-null      float64
 20  Coua_cristata                0 non-null      float64
 21  Treron_australis             0 non-null      float64
dtypes: float64(19), int64(2), object(1)
memory usage: 5.5+ MB

In [ ]:
ankafobe_reforest_A_KBR08_5s = ankafobe_reforest_A_5s[ankafobe_reforest_A_5s['file'].str.contains("KBR08")].reset_index(drop=True)
ankafobe_reforest_A_KBR08_5s.info()
ankafobe_reforest_A_KBR08_5s.to_csv('data/ankafobe_reforest_A_KBR08_5s.csv',index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32784 entries, 0 to 32783
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   file                         32784 non-null  object
 1   start_time                   32784 non-null  int64
 2   end_time                     32784 non-null  int64
 3   Hypsipetes_madagascariensis  0 non-null      float64
 4   Copsychus_albospecularis     0 non-null      float64
 5   Coracopsis_nigra             0 non-null      float64
 6   Dicrurus_forficatus          0 non-null      float64
 7   Coua_caerulea                0 non-null      float64
 8   Zosterops_maderaspatanus     0 non-null      float64
 9   Eurystomus_glaucurus         0 non-null      float64
 10  Agapornis_canus              0 non-null      float64
 11  Saxicola_torquatus           0 non-null      float64
 12  Cyanolanius_madagascarinus   0 non-null      float64
 13  Leptopterus_chabert          0 non-null      float64
 14  Nesoenas_picturatus          0 non-null      float64
 15  Coua_reynaudii               0 non-null      float64
 16  Ceblepyris_cinereus          0 non-null      float64
 17  Neodrepanis_coruscans        0 non-null      float64
 18  Philepitta_castanea          0 non-null      float64
 19  Eulemur_sp                   0 non-null      float64
 20  Coua_cristata                0 non-null      float64
 21  Treron_australis             0 non-null      float64
dtypes: float64(19), int64(2), object(1)
memory usage: 5.5+ MB

In [ ]:
ankafobe_reforest_A_KBR02_D1_5s = ankafobe_reforest_A_KBR02_5s[ankafobe_reforest_A_KBR02_5s['file'].str.contains("D1")].reset_index(drop=True)
ankafobe_reforest_A_KBR02_D1_5s.info()
ankafobe_reforest_A_KBR02_D1_5s.to_csv('data/ankafobe_reforest_A_KBR02_D1_5s.csv',index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15624 entries, 0 to 15623
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   file                         15624 non-null  object
 1   start_time                   15624 non-null  int64
 2   end_time                     15624 non-null  int64
 3   Hypsipetes_madagascariensis  0 non-null      float64
 4   Copsychus_albospecularis     0 non-null      float64
 5   Coracopsis_nigra             0 non-null      float64
 6   Dicrurus_forficatus          0 non-null      float64
 7   Coua_caerulea                0 non-null      float64
 8   Zosterops_maderaspatanus     0 non-null      float64
 9   Eurystomus_glaucurus         0 non-null      float64
 10  Agapornis_canus              0 non-null      float64
 11  Saxicola_torquatus           0 non-null      float64
 12  Cyanolanius_madagascarinus   0 non-null      float64
 13  Leptopterus_chabert          0 non-null      float64
 14  Nesoenas_picturatus          0 non-null      float64
 15  Coua_reynaudii               0 non-null      float64
 16  Ceblepyris_cinereus          0 non-null      float64
 17  Neodrepanis_coruscans        0 non-null      float64
 18  Philepitta_castanea          0 non-null      float64
 19  Eulemur_sp                   0 non-null      float64
 20  Coua_cristata                0 non-null      float64
 21  Treron_australis             0 non-null      float64
dtypes: float64(19), int64(2), object(1)
memory usage: 2.6+ MB

In [ ]:
ankafobe_reforest_A_KBR02_D2_5s = ankafobe_reforest_A_KBR02_5s[ankafobe_reforest_A_KBR02_5s['file'].str.contains("D2")].reset_index(drop=True)
ankafobe_reforest_A_KBR02_D2_5s.info()
ankafobe_reforest_A_KBR02_D2_5s.to_csv('data/ankafobe_reforest_A_KBR02_D2_5s.csv',index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18144 entries, 0 to 18143
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   file                         18144 non-null  object
 1   start_time                   18144 non-null  int64
 2   end_time                     18144 non-null  int64
 3   Hypsipetes_madagascariensis  0 non-null      float64
 4   Copsychus_albospecularis     0 non-null      float64
 5   Coracopsis_nigra             0 non-null      float64
 6   Dicrurus_forficatus          0 non-null      float64
 7   Coua_caerulea                0 non-null      float64
 8   Zosterops_maderaspatanus     0 non-null      float64
 9   Eurystomus_glaucurus         0 non-null      float64
 10  Agapornis_canus              0 non-null      float64
 11  Saxicola_torquatus           0 non-null      float64
 12  Cyanolanius_madagascarinus   0 non-null      float64
 13  Leptopterus_chabert          0 non-null      float64
 14  Nesoenas_picturatus          0 non-null      float64
 15  Coua_reynaudii               0 non-null      float64
 16  Ceblepyris_cinereus          0 non-null      float64
 17  Neodrepanis_coruscans        0 non-null      float64
 18  Philepitta_castanea          0 non-null      float64
 19  Eulemur_sp                   0 non-null      float64
 20  Coua_cristata                0 non-null      float64
 21  Treron_australis             0 non-null      float64
dtypes: float64(19), int64(2), object(1)
memory usage: 3.0+ MB

In [ ]:
ankafobe_forest_5s = pd.read_csv('data/ankafobe_forest_5s.csv')

In [ ]:
ankafobe_forest_A_5s = ankafobe_forest_5s[ankafobe_forest_5s['file'].str.contains("KBF_A")].reset_index(drop=True)
ankafobe_forest_A_5s.info()
ankafobe_forest_A_5s.to_csv('data/ankafobe_forest_A_5s.csv',index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168876 entries, 0 to 168875
Data columns (total 22 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   file                         168876 non-null  object
 1   start_time                   168876 non-null  int64
 2   end_time                     168876 non-null  int64
 3   Hypsipetes_madagascariensis  0 non-null       float64
 4   Copsychus_albospecularis     0 non-null       float64
 5   Coracopsis_nigra             0 non-null       float64
 6   Dicrurus_forficatus          0 non-null       float64
 7   Coua_caerulea                0 non-null       float64
 8   Zosterops_maderaspatanus     0 non-null       float64
 9   Eurystomus_glaucurus         0 non-null       float64
 10  Agapornis_canus              0 non-null       float64
 11  Saxicola_torquatus           0 non-null       float64
 12  Cyanolanius_madagascarinus   0 non-null       float64
 13  Leptopterus_chabert          0 non-null       float64
 14  Nesoenas_picturatus          0 non-null       float64
 15  Coua_reynaudii               0 non-null       float64
 16  Ceblepyris_cinereus          0 non-null       float64
 17  Neodrepanis_coruscans        0 non-null       float64
 18  Philepitta_castanea          0 non-null       float64
 19  Eulemur_sp                   0 non-null       float64
 20  Coua_cristata                0 non-null       float64
 21  Treron_australis             0 non-null       float64
dtypes: float64(19), int64(2), object(1)
memory usage: 28.3+ MB

In [ ]:
ankafobe_forest_A_KBF02_5s = ankafobe_forest_A_5s[ankafobe_forest_A_5s['file'].str.contains("KBF02")].reset_index(drop=True)
ankafobe_forest_A_KBF02_5s.info()
ankafobe_forest_A_KBF02_5s.to_csv('data/ankafobe_forest_A_KBF02_5s.csv',index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12996 entries, 0 to 12995
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   file                         12996 non-null  object
 1   start_time                   12996 non-null  int64
 2   end_time                     12996 non-null  int64
 3   Hypsipetes_madagascariensis  0 non-null      float64
 4   Copsychus_albospecularis     0 non-null      float64
 5   Coracopsis_nigra             0 non-null      float64
 6   Dicrurus_forficatus          0 non-null      float64
 7   Coua_caerulea                0 non-null      float64
 8   Zosterops_maderaspatanus     0 non-null      float64
 9   Eurystomus_glaucurus         0 non-null      float64
 10  Agapornis_canus              0 non-null      float64
 11  Saxicola_torquatus           0 non-null      float64
 12  Cyanolanius_madagascarinus   0 non-null      float64
 13  Leptopterus_chabert          0 non-null      float64
 14  Nesoenas_picturatus          0 non-null      float64
 15  Coua_reynaudii               0 non-null      float64
 16  Ceblepyris_cinereus          0 non-null      float64
 17  Neodrepanis_coruscans        0 non-null      float64
 18  Philepitta_castanea          0 non-null      float64
 19  Eulemur_sp                   0 non-null      float64
 20  Coua_cristata                0 non-null      float64
 21  Treron_australis             0 non-null      float64
dtypes: float64(19), int64(2), object(1)
memory usage: 2.2+ MB

In [ ]:
ankafobe_forest_A_KBF01_5s = ankafobe_forest_A_5s[ankafobe_forest_A_5s['file'].str.contains("KBF01")].reset_index(drop=True)
ankafobe_forest_A_KBF01_5s.info()
ankafobe_forest_A_KBF01_5s.to_csv('data/ankafobe_forest_A_KBF01_5s.csv',index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20508 entries, 0 to 20507
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   file                         20508 non-null  object
 1   start_time                   20508 non-null  int64
 2   end_time                     20508 non-null  int64
 3   Hypsipetes_madagascariensis  0 non-null      float64
 4   Copsychus_albospecularis     0 non-null      float64
 5   Coracopsis_nigra             0 non-null      float64
 6   Dicrurus_forficatus          0 non-null      float64
 7   Coua_caerulea                0 non-null      float64
 8   Zosterops_maderaspatanus     0 non-null      float64
 9   Eurystomus_glaucurus         0 non-null      float64
 10  Agapornis_canus              0 non-null      float64
 11  Saxicola_torquatus           0 non-null      float64
 12  Cyanolanius_madagascarinus   0 non-null      float64
 13  Leptopterus_chabert          0 non-null      float64
 14  Nesoenas_picturatus          0 non-null      float64
 15  Coua_reynaudii               0 non-null      float64
 16  Ceblepyris_cinereus          0 non-null      float64
 17  Neodrepanis_coruscans        0 non-null      float64
 18  Philepitta_castanea          0 non-null      float64
 19  Eulemur_sp                   0 non-null      float64
 20  Coua_cristata                0 non-null      float64
 21  Treron_australis             0 non-null      float64
dtypes: float64(19), int64(2), object(1)
memory usage: 3.4+ MB

In [ ]:
ankafobe_forest_A_KBF09_5s = ankafobe_forest_A_5s[ankafobe_forest_A_5s['file'].str.contains("KBF09")].reset_index(drop=True)
ankafobe_forest_A_KBF09_5s.info()
ankafobe_forest_A_KBF09_5s.to_csv('data/ankafobe_forest_A_KBF09_5s.csv',index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16572 entries, 0 to 16571
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   file                         16572 non-null  object
 1   start_time                   16572 non-null  int64
 2   end_time                     16572 non-null  int64
 3   Hypsipetes_madagascariensis  0 non-null      float64
 4   Copsychus_albospecularis     0 non-null      float64
 5   Coracopsis_nigra             0 non-null      float64
 6   Dicrurus_forficatus          0 non-null      float64
 7   Coua_caerulea                0 non-null      float64
 8   Zosterops_maderaspatanus     0 non-null      float64
 9   Eurystomus_glaucurus         0 non-null      float64
 10  Agapornis_canus              0 non-null      float64
 11  Saxicola_torquatus           0 non-null      float64
 12  Cyanolanius_madagascarinus   0 non-null      float64
 13  Leptopterus_chabert          0 non-null      float64
 14  Nesoenas_picturatus          0 non-null      float64
 15  Coua_reynaudii               0 non-null      float64
 16  Ceblepyris_cinereus          0 non-null      float64
 17  Neodrepanis_coruscans        0 non-null      float64
 18  Philepitta_castanea          0 non-null      float64
 19  Eulemur_sp                   0 non-null      float64
 20  Coua_cristata                0 non-null      float64
 21  Treron_australis             0 non-null      float64
dtypes: float64(19), int64(2), object(1)
memory usage: 2.8+ MB

In [ ]:
ankafobe_forest_A_KBF12_5s = ankafobe_forest_A_5s[ankafobe_forest_A_5s['file'].str.contains("KBF12")].reset_index(drop=True)
ankafobe_forest_A_KBF12_5s.info()
ankafobe_forest_A_KBF12_5s.to_csv('data/ankafobe_forest_A_KBF12_5s.csv',index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17232 entries, 0 to 17231
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   file                         17232 non-null  object
 1   start_time                   17232 non-null  int64
 2   end_time                     17232 non-null  int64
 3   Hypsipetes_madagascariensis  0 non-null      float64
 4   Copsychus_albospecularis     0 non-null      float64
 5   Coracopsis_nigra             0 non-null      float64
 6   Dicrurus_forficatus          0 non-null      float64
 7   Coua_caerulea                0 non-null      float64
 8   Zosterops_maderaspatanus     0 non-null      float64
 9   Eurystomus_glaucurus         0 non-null      float64
 10  Agapornis_canus              0 non-null      float64
 11  Saxicola_torquatus           0 non-null      float64
 12  Cyanolanius_madagascarinus   0 non-null      float64
 13  Leptopterus_chabert          0 non-null      float64
 14  Nesoenas_picturatus          0 non-null      float64
 15  Coua_reynaudii               0 non-null      float64
 16  Ceblepyris_cinereus          0 non-null      float64
 17  Neodrepanis_coruscans        0 non-null      float64
 18  Philepitta_castanea          0 non-null      float64
 19  Eulemur_sp                   0 non-null      float64
 20  Coua_cristata                0 non-null      float64
 21  Treron_australis             0 non-null      float64
dtypes: float64(19), int64(2), object(1)
memory usage: 2.9+ MB

In [ ]:
ankafobe_forest_A_KBF10_5s = ankafobe_forest_A_5s[ankafobe_forest_A_5s['file'].str.contains("KBF10")].reset_index(drop=True)
ankafobe_forest_A_KBF10_5s.info()
ankafobe_forest_A_KBF10_5s.to_csv('data/ankafobe_forest_A_KBF10_5s.csv',index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17268 entries, 0 to 17267
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   file                         17268 non-null  object
 1   start_time                   17268 non-null  int64
 2   end_time                     17268 non-null  int64
 3   Hypsipetes_madagascariensis  0 non-null      float64
 4   Copsychus_albospecularis     0 non-null      float64
 5   Coracopsis_nigra             0 non-null      float64
 6   Dicrurus_forficatus          0 non-null      float64
 7   Coua_caerulea                0 non-null      float64
 8   Zosterops_maderaspatanus     0 non-null      float64
 9   Eurystomus_glaucurus         0 non-null      float64
 10  Agapornis_canus              0 non-null      float64
 11  Saxicola_torquatus           0 non-null      float64
 12  Cyanolanius_madagascarinus   0 non-null      float64
 13  Leptopterus_chabert          0 non-null      float64
 14  Nesoenas_picturatus          0 non-null      float64
 15  Coua_reynaudii               0 non-null      float64
 16  Ceblepyris_cinereus          0 non-null      float64
 17  Neodrepanis_coruscans        0 non-null      float64
 18  Philepitta_castanea          0 non-null      float64
 19  Eulemur_sp                   0 non-null      float64
 20  Coua_cristata                0 non-null      float64
 21  Treron_australis             0 non-null      float64
dtypes: float64(19), int64(2), object(1)
memory usage: 2.9+ MB

In [ ]:
ankafobe_forest_A_KBF11_5s = ankafobe_forest_A_5s[ankafobe_forest_A_5s['file'].str.contains("KBF11")].reset_index(drop=True)
ankafobe_forest_A_KBF11_5s.info()
ankafobe_forest_A_KBF11_5s.to_csv('data/ankafobe_forest_A_KBF11_5s.csv',index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17160 entries, 0 to 17159
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   file                         17160 non-null  object
 1   start_time                   17160 non-null  int64
 2   end_time                     17160 non-null  int64
 3   Hypsipetes_madagascariensis  0 non-null      float64
 4   Copsychus_albospecularis     0 non-null      float64
 5   Coracopsis_nigra             0 non-null      float64
 6   Dicrurus_forficatus          0 non-null      float64
 7   Coua_caerulea                0 non-null      float64
 8   Zosterops_maderaspatanus     0 non-null      float64
 9   Eurystomus_glaucurus         0 non-null      float64
 10  Agapornis_canus              0 non-null      float64
 11  Saxicola_torquatus           0 non-null      float64
 12  Cyanolanius_madagascarinus   0 non-null      float64
 13  Leptopterus_chabert          0 non-null      float64
 14  Nesoenas_picturatus          0 non-null      float64
 15  Coua_reynaudii               0 non-null      float64
 16  Ceblepyris_cinereus          0 non-null      float64
 17  Neodrepanis_coruscans        0 non-null      float64
 18  Philepitta_castanea          0 non-null      float64
 19  Eulemur_sp                   0 non-null      float64
 20  Coua_cristata                0 non-null      float64
 21  Treron_australis             0 non-null      float64
dtypes: float64(19), int64(2), object(1)
memory usage: 2.9+ MB

In [ ]:
ankafobe_forest_A_KBF13_5s = ankafobe_forest_A_5s[ankafobe_forest_A_5s['file'].str.contains("KBF13")].reset_index(drop=True)
ankafobe_forest_A_KBF13_5s.info()
ankafobe_forest_A_KBF13_5s.to_csv('data/ankafobe_forest_A_KBF13_5s.csv',index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16320 entries, 0 to 16319
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   file                         16320 non-null  object
 1   start_time                   16320 non-null  int64
 2   end_time                     16320 non-null  int64
 3   Hypsipetes_madagascariensis  0 non-null      float64
 4   Copsychus_albospecularis     0 non-null      float64
 5   Coracopsis_nigra             0 non-null      float64
 6   Dicrurus_forficatus          0 non-null      float64
 7   Coua_caerulea                0 non-null      float64
 8   Zosterops_maderaspatanus     0 non-null      float64
 9   Eurystomus_glaucurus         0 non-null      float64
 10  Agapornis_canus              0 non-null      float64
 11  Saxicola_torquatus           0 non-null      float64
 12  Cyanolanius_madagascarinus   0 non-null      float64
 13  Leptopterus_chabert          0 non-null      float64
 14  Nesoenas_picturatus          0 non-null      float64
 15  Coua_reynaudii               0 non-null      float64
 16  Ceblepyris_cinereus          0 non-null      float64
 17  Neodrepanis_coruscans        0 non-null      float64
 18  Philepitta_castanea          0 non-null      float64
 19  Eulemur_sp                   0 non-null      float64
 20  Coua_cristata                0 non-null      float64
 21  Treron_australis             0 non-null      float64
dtypes: float64(19), int64(2), object(1)
memory usage: 2.7+ MB

In [ ]:
ankafobe_forest_A_KBF14_5s = ankafobe_forest_A_5s[ankafobe_forest_A_5s['file'].str.contains("KBF14")].reset_index(drop=True)
ankafobe_forest_A_KBF14_5s.info()
ankafobe_forest_A_KBF14_5s.to_csv('data/ankafobe_forest_A_KBF14_5s.csv',index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16440 entries, 0 to 16439
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   file                         16440 non-null  object
 1   start_time                   16440 non-null  int64
 2   end_time                     16440 non-null  int64
 3   Hypsipetes_madagascariensis  0 non-null      float64
 4   Copsychus_albospecularis     0 non-null      float64
 5   Coracopsis_nigra             0 non-null      float64
 6   Dicrurus_forficatus          0 non-null      float64
 7   Coua_caerulea                0 non-null      float64
 8   Zosterops_maderaspatanus     0 non-null      float64
 9   Eurystomus_glaucurus         0 non-null      float64
 10  Agapornis_canus              0 non-null      float64
 11  Saxicola_torquatus           0 non-null      float64
 12  Cyanolanius_madagascarinus   0 non-null      float64
 13  Leptopterus_chabert          0 non-null      float64
 14  Nesoenas_picturatus          0 non-null      float64
 15  Coua_reynaudii               0 non-null      float64
 16  Ceblepyris_cinereus          0 non-null      float64
 17  Neodrepanis_coruscans        0 non-null      float64
 18  Philepitta_castanea          0 non-null      float64
 19  Eulemur_sp                   0 non-null      float64
 20  Coua_cristata                0 non-null      float64
 21  Treron_australis             0 non-null      float64
dtypes: float64(19), int64(2), object(1)
memory usage: 2.8+ MB

In [ ]:
ankafobe_forest_A_KBF08_5s = ankafobe_forest_A_5s[ankafobe_forest_A_5s['file'].str.contains("KBF08")].reset_index(drop=True)
ankafobe_forest_A_KBF08_5s.info()
ankafobe_forest_A_KBF08_5s.to_csv('data/ankafobe_forest_A_KBF08_5s.csv',index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34380 entries, 0 to 34379
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   file                         34380 non-null  object
 1   start_time                   34380 non-null  int64
 2   end_time                     34380 non-null  int64
 3   Hypsipetes_madagascariensis  0 non-null      float64
 4   Copsychus_albospecularis     0 non-null      float64
 5   Coracopsis_nigra             0 non-null      float64
 6   Dicrurus_forficatus          0 non-null      float64
 7   Coua_caerulea                0 non-null      float64
 8   Zosterops_maderaspatanus     0 non-null      float64
 9   Eurystomus_glaucurus         0 non-null      float64
 10  Agapornis_canus              0 non-null      float64
 11  Saxicola_torquatus           0 non-null      float64
 12  Cyanolanius_madagascarinus   0 non-null      float64
 13  Leptopterus_chabert          0 non-null      float64
 14  Nesoenas_picturatus          0 non-null      float64
 15  Coua_reynaudii               0 non-null      float64
 16  Ceblepyris_cinereus          0 non-null      float64
 17  Neodrepanis_coruscans        0 non-null      float64
 18  Philepitta_castanea          0 non-null      float64
 19  Eulemur_sp                   0 non-null      float64
 20  Coua_cristata                0 non-null      float64
 21  Treron_australis             0 non-null      float64
dtypes: float64(19), int64(2), object(1)
memory usage: 5.8+ MB

In [ ]:
ankafobe_forest_A_KBF08_D1_5s = ankafobe_forest_A_KBF08_5s[ankafobe_forest_A_KBF08_5s['file'].str.contains("D1")].reset_index(drop=True)
ankafobe_forest_A_KBF08_D1_5s.info()
ankafobe_forest_A_KBF08_D1_5s.to_csv('data/ankafobe_forest_A_KBF08_D1_5s.csv',index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17256 entries, 0 to 17255
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   file                         17256 non-null  object
 1   start_time                   17256 non-null  int64
 2   end_time                     17256 non-null  int64
 3   Hypsipetes_madagascariensis  0 non-null      float64
 4   Copsychus_albospecularis     0 non-null      float64
 5   Coracopsis_nigra             0 non-null      float64
 6   Dicrurus_forficatus          0 non-null      float64
 7   Coua_caerulea                0 non-null      float64
 8   Zosterops_maderaspatanus     0 non-null      float64
 9   Eurystomus_glaucurus         0 non-null      float64
 10  Agapornis_canus              0 non-null      float64
 11  Saxicola_torquatus           0 non-null      float64
 12  Cyanolanius_madagascarinus   0 non-null      float64
 13  Leptopterus_chabert          0 non-null      float64
 14  Nesoenas_picturatus          0 non-null      float64
 15  Coua_reynaudii               0 non-null      float64
 16  Ceblepyris_cinereus          0 non-null      float64
 17  Neodrepanis_coruscans        0 non-null      float64
 18  Philepitta_castanea          0 non-null      float64
 19  Eulemur_sp                   0 non-null      float64
 20  Coua_cristata                0 non-null      float64
 21  Treron_australis             0 non-null      float64
dtypes: float64(19), int64(2), object(1)
memory usage: 2.9+ MB

In [ ]:
ankafobe_forest_A_KBF08_D2_5s = ankafobe_forest_A_KBF08_5s[ankafobe_forest_A_KBF08_5s['file'].str.contains("D2")].reset_index(drop=True)
ankafobe_forest_A_KBF08_D2_5s.info()
ankafobe_forest_A_KBF08_D2_5s.to_csv('data/ankafobe_forest_A_KBF08_D2_5s.csv',index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17124 entries, 0 to 17123
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   file                         17124 non-null  object
 1   start_time                   17124 non-null  int64
 2   end_time                     17124 non-null  int64
 3   Hypsipetes_madagascariensis  0 non-null      float64
 4   Copsychus_albospecularis     0 non-null      float64
 5   Coracopsis_nigra             0 non-null      float64
 6   Dicrurus_forficatus          0 non-null      float64
 7   Coua_caerulea                0 non-null      float64
 8   Zosterops_maderaspatanus     0 non-null      float64
 9   Eurystomus_glaucurus         0 non-null      float64
 10  Agapornis_canus              0 non-null      float64
 11  Saxicola_torquatus           0 non-null      float64
 12  Cyanolanius_madagascarinus   0 non-null      float64
 13  Leptopterus_chabert          0 non-null      float64
 14  Nesoenas_picturatus          0 non-null      float64
 15  Coua_reynaudii               0 non-null      float64
 16  Ceblepyris_cinereus          0 non-null      float64
 17  Neodrepanis_coruscans        0 non-null      float64
 18  Philepitta_castanea          0 non-null      float64
 19  Eulemur_sp                   0 non-null      float64
 20  Coua_cristata                0 non-null      float64
 21  Treron_australis             0 non-null      float64
dtypes: float64(19), int64(2), object(1)
memory usage: 2.9+ MB